strict-ssl=false
unsafe-perm=true
registry=https://nexus.in.fiduciagad.de/repository/fkc-portal-group/
always-auth=true
package-lock=false
//nexus.in.fiduciagad.de/repository/npm-public/:_authToken=NpmToken.9f224cbe-1704-30be-8858-4d38192711c0
//nexus.in.fiduciagad.de/repository/fkc-portal-hosted/:_authToken=NpmToken.85de70aa-c9f9-3a87-ada3-caa355d7c7e8
//nexus.in.fiduciagad.de/repository/fkc-portal-group/:_authToken=NpmToken.85de70aa-c9f9-3a87-ada3-caa355d7c7e8
