<div class="main-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon color="white">menu</mat-icon>
    </button>
    <h1 class="example-app-name">Smart Football Table</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="side">
      <mat-nav-list>
        <a mat-list-item>Übersicht</a>
        <a mat-list-item>Statistik</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
      <app-dashboard></app-dashboard>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <router-outlet></router-outlet>
</div>
