# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  schedule:
  # each first day of month
  - cron: "0 0 1 * *"
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        node-version: [10.x, 12.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4.0.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    - name: Start Mosquitto
      # TODO depend od gha or use docker implicitly? docker run -d -p 9001:9001 -v $(pwd)/.ci/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro eclipse-mosquitto
      uses: namoshek/mosquitto-github-action@v1
      with:
        # it would be better to pin the version (to the version used in docker image). Defaults to latest
        # version: '2.0'
        ports: '9001:9001'
        config: ${{ github.workspace }}/.ci/mosquitto.conf
        container-name: 'mqtt'
    - run: npm test
